.project-card {
  /* background: #130f2a; */
  /* border: 1.5px solid #6751b9; */
  border-radius: 0.65rem;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1.5rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.project-img img {
  width: 100%;
  height: 15rem;
  border-radius: 8px;
  height: auto;
  display: block;
}
